

.nav-second {
  height: 64px;
  
  background-color: #0000ff;
  background-image: linear-gradient(to bottom,#0000ff,#43c4f7);
  box-shadow: 0px 0px 8px rgb(121, 121, 121);
  
}

.nav-content {
  height: 100%;
  width: 52%;
}

.nav-content-title {
  padding: 0px !important;
}

.nav-content-logo {
  font-family: 'Indie Flower', cursive;
  font-size: x-large;
  font-weight: bolder;
  color: white;
  margin-left: 20px;
}

.page-name-second {
  color: white;
  font-weight: bolder;
  font-size: larger;
}

@media (max-width: 426px) {
  .nav-content {
    width: 62%;
  }
}
